#stadion {
    z-index: 1;
    width: 668px;
    position: relative;
    min-height: 700px;
    margin-top: 80px;
    left: 95px;
}
.block {
    background-color: #999;
    width: 150px;
    height: 150px;
    z-index: 2;
    border: 1px solid #666;
    position: relative;
}
#nordkurve {
    position: relative;
    left: 125px;
}
#suedkurve {
    position: relative;
    top: 60px;
    left: 125px;
}
#zentrum {
    position: relative;
    top: 10px;
}
#block-nw {
    
}
#block-n {
    top: -75px;
    left: 30px;
}
#block-no {
    left: 60px;
}
#block-w {
    top: 70px;
    width: 250px;
}
#block-o {
    top: 70px;
    left: 110px;
    width: 250px;
}
#block-sw {
    
}
#block-s {
    top: 75px;
    left: 30px;
}
#block-so {
    left: 60px;
}
#court
{
    position: relative;
    top: 20px;
    left: 55px;
}
.floating {
    float: left;
    display: block;
}
.kategorie {
    width: 100%;
    height: 50px;
    line-height: 25px;
    text-align: center;
}
#kat-0 {
    background-color: #fff;
}
#kat-1 {
    background-color: #ddd;
    top: 40px;
}
#kat-2 {
    background-color: #bbb;
    top: 40px;
}
.court {
    height: 250px;
    background-image: url("#{resource['images/fussballplatz.jpg']}");
    background-repeat: no-repeat;
    background-color: #060;
    line-height: 250px;
    text-align: center;
    color: #fff;
}
.clear {
    clear: left;
}
.block a:link {
    color: #000;
}
.rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
}
.rotate-315 {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
}
.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.rotate-270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}
.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.rotate-225 {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}